@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,500;0,600;0,700;0,800;1,400&display=swap');

* {
    margin:0;
    padding: 0;
    box-sizing: content-box;
    text-decoration: none;
    list-style: none;
}

.container {
    max-width:100%;
    margin: auto auto;
}

head{
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 9vh;
    display: flex;
    align-items: center;
    height: 90px;
}

.header {
    background-image: url("img/fondo_01.png");
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 70vh;
    display: flex;
    align-items: center;
}

.header-content {
    background-color: rgba(50, 39, 32, 0.591);
    display: flex;
    justify-content: space-between; 
    align-items: center;
}

body{
    background-color: #141E26 ;
    background-size: cover;
}

.menu {
    position: fixed;
    top: 0;
    left: 0px;
    right: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
    background-color: rgba(17, 20, 22, 0.473);
    height: 90px;
}

.Logo {
    color: #92daf9;
    font-size: 25px;
    font-weight: 800;
}

.menu .navbar ul li {
    position: relative;
    float: left;
}
 
.menu .navbar ul li a{

    font-size: 18px;
    padding: 20px;
    color: #bddffc;
    display: block;
    font-weight: 600;
}
#menu {
    display: none;
}

.menu-icono {
    margin: 10px;
    padding-right: 10px;
    padding-left: 70%;
}

.menu label {
    cursor: pointer;
    display: none;
}
img {
    width: 20%;
    margin: auto;
}
.header-txt {
    text-align: center;
    margin-top: 10px;
    display: inline-block;
    margin: 10%;
}

.header-txt h1 {
    font-size: 60px;
    color: #ECF0F1;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial;
    margin-bottom: 20px;
}

.header-txt p {
    font-size: 25px;
    margin-bottom: 45px;
    text-align: center;
    color: #ECF0F1;
}

.header-txt m {
    font-size: 30px;
    margin-top: 10px;
    margin-bottom: 15px;
    color: #ECF0F1;
}

.general{
    padding: 50px 0;
    text-align: center;
}

.general-content {
    display:flex;
    justify-content: space-between;
    margin-top: 5%;
}

.general-1{
    height: 200px;
    padding: 50px 55px;
}

.general-3{
    height: 300px;
    padding: 50px 55px;
}
.general-4{
    height: 50px;
    padding: 30px 55px;
}

h2 {
    font-size: 65px;
    margin-left: 5%;
    text-transform: uppercase;
    color: #ECF0F1;
    text-align: left;
}

.txt h3 {
    font-size: 18px;
    color: #e199d1;
    text-transform: uppercase;
    margin-bottom: 10px ;
}
.txt p {
    color: #ECF0F1;
    font-size: 18px;
}

.info-content h2, span {
    color:#ECF0F1;
    font-size: 40px;  
    text-align: left;
}

.cicle-txt {
    width: 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 0 10px;
}



.info-2 {
    padding: 10px 0;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.testi {
    display: flex;
    align-items: center;
    text-align:  left;
    margin-top: 35px;
}

.testi-left {
    width: 50%;
    padding-right: 25%;
}

.testi-right {
    width: 50%;
    padding-left: 35%;
}

.testi-txt {
    margin-bottom: 25px;
}

.testi-txt img {
    width: 50px;
    margin-bottom: 15px;
    
}

.testi-txt h3 {
    font-size: 20px;
    color: #ECF0F1;
}

.testi-txt p {
    color: #ECF0F1;
    font-size: 16px;
}

.footer {
    padding: 10px 10px 10px 10px;
    text-align: left;
    font-size: 30px;
    color: #565757;
    padding-left: 60px;
    height: 180px;
    padding-right: 80px;
}

.footer.footer.container{
    background-color:#080c10;
    
}

.form {
    margin-top: 35px;
}

.campo {
    margin-right: 10px;
    padding: 17 px 35px;
    border: 2px solid #ECF0F1;
    outline: none;
    color: #ECF0F1;
}
.campo::placeholder {
    color: #ECF0F1;
}

.btn-2 {
    padding: 17px 35px;
    border: 1px solid #ECF0F1;
    background-color: #ECF0F1;
    color: #ECF0F1;
}

.footer-txt {
    margin-top: 20px;
    margin-top: 1px solid #ECF0F1;
    padding: 20px 0;
}

.footer.txt p {
    color: #ECF0F1;
    font-size: 16px;
}


@media(max-width:660px){
    .menu{
        padding: 3px;
        height: 90px;
    }
    .menu label {
        display: initial;
    }
    .menu .navbar {
        position: absolute;
        top:100%;
        left: 0;
        right: 0;
        background-color: #1c2a35;
        display: none;
    }
    .menu .navbar ul li {
        width: 100%;
    }
    #menu:checked ~ .navbar {
        display: initial;
    }

    .header {
        background-size: cover;
        min-height: 150vh;
        align-items: center;
    }

    .header-content {
        padding: 10px 0;
        background-color: rgba(50, 39, 32, 0.591);
        display: flex;
        justify-content: space-between; 
        align-items: center;
    }
    .header-txt h1{
        font-size: 50px;
        padding: 50px;
    }
    .header-txt p {
        padding: 0;
    }

    .header-txt m {
        font-size: 20px;
        margin-top: 10px;
        margin-bottom: 15px;
        color: #ECF0F1;
    }
    .general {
        padding: 30px 30px 0 30px;
    }
    .general-content{
        flex-direction: column;
        align-items: center;
        margin-top: 20px;
    }
    .general-conteiner{
        height: 1000px;
    }

    .general-1{
        height: 960;
        padding: 10px 20px;
        margin-bottom: 500px;
    }
    .general-3{
        height: 960;
        padding: 10px 20px;
        margin-bottom: 300px;
    }
    .general-4{
        height:30px;
        padding: 30px 5px;
        margin-bottom: 10px;
    }
    
    .info-1 {
        padding-left: 10% 10%;
        background-size: cover;
        margin-top: 40px;
    }

    .info-circle {
        flex-direction: column;
        align-items: center;
    }
    .cicle-txt {
        width: 100%;
        margin-bottom: 25px;
    }

    .g2 {
        margin-top: -120px;
    }

    .info-2 {
        padding: 150px 30px;
        background-size: cover;
        margin-top: -180px;
    }
    

    .testi-left {
        width: 100%;
        padding-right: 0;
    }

    .testi-right {
        width: 100%;
        padding-left: 0;
    }
    
    h2 {
        font-size: 40px;
    }

    .footer {
        font-size: 30px;
        padding: 10;
        margin-top: 40px;
        color: #565757;
        padding-left: 60px;
    }


    .campo {
        margin: 0 0 10px 0;
    }

    .footer-txt {
        margin-top: 20px;
    }
    .footer.footer.container{
        background-color:#080c10;
    }
}
.btn-1 {
    display: inline-block;
    padding: 12px, 45px;
    color: #a2d2fd;
    font-size: 30px;
    text-transform: uppercase;
    font-weight: 600;
}
.btn-1:hover{
    color:  #ECF0F1;
    background-color: #ECF0F1;
    align-items: center center;
}

p {
    text-align: left;
    font-size: 2vw;
}
a{
    color: #e199d1;
    font-size: 25px;
    padding: 20px;
    text-decoration: underline;
}
